<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <%= include("./partials/head.ejs") %> -->
    <title>Sign Up </title>

</head>
<style>

    *{margin: 0;
    padding: 0;}
    .container {
        width: 100vw;
        height: 100vh;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        gap: 1px;
        align-items: center;

    }

    .left {
        width: 30vw;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: italic;
        font-weight: 600;
        font-size: 50px;
        border-radius: 10px 0px 0px 10px;
        color: rgb(244, 248, 246);
        background: linear-gradient(#6438e8, #a66cb6);
        /* border: 1px solid  red  ; */


    }

    .left pre {
        color: rgb(32, 4, 69);
        padding: 10px;
        font-size: 40px;
        text-decoration: underline;
        font-family: sans-serif;


    }

    .right {
        width: 27vw;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        background: linear-gradient(#6438e8, #a66cb6);
        border-radius: 0px 10px 10px 0px;
        font-weight: 500;
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        height: 60vh;
    }

    .right pre {
        font-size: 30px;
        font-weight: 600;
        align-items: center;
        margin-top: 20px;

        margin-bottom: 40px;

    }

    .user-name {
        background-color: rgba(255, 255, 255, 0.151);
        border: 0.5px solid white;
        border-radius: 3px;
        height: 40px;
        width: 330px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;


    }

    .user-name input {
        background-color: transparent;
        outline: none;
        border: none;
        /* width: 100%; */
        /* height: 100%; */
        background: transparent;
        color: white;

    }

    .user-email {
        background-color: rgba(255, 255, 255, 0.151);
        border: 0.5px solid white;
        border-radius: 3px;
        height: 40px;
        width: 330px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
    }

    .user-email input {
        background-color: transparent;
        outline: none;
        border: none;
        color: white;
        /* width: 100%;
        height: 100%; */
        background: transparent;
    }

    .user-password {
        background-color: rgba(255, 255, 255, 0.151);
        border: 0.5px solid white;
        border-radius: 3px;
        height: 40px;
        width: 330px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
    }

    .user-password input {
        background-color: transparent;
        outline: none;
        /* width: 100%;
        height: 100%; */
        background: transparent;
        border: none;
        color: white;
    }

    .btn {
        display: flex;
        justify-content: center;
    }

    .signup-btn {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        height: 34px;
        border: 0.8px solid white;
        background-color: rgb(17, 169, 118);
        color: white;
        border-radius: 3px;
        font-weight: 600;


    }

    .signup-btn:hover {
        background-color: green;
    }
    .error {
        color:rgb(250, 79, 79);
        font-weight: 600;
        font-size: 40;
        margin-bottom: 10px;
        transition:  all 0.3s ease-in-out;
    }
    .info{
        /* border: 1px solid red ; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top:45px;
        color: white;

    }
    .info a {
        color: blue;
    }
</style>

<body>
    <div class="container">

        <div class="left">
            <p>Log in 
            <pre>now </pre>
            </p>
        </div>
        <div class="right">
            <pre> Sign Up</pre>
            <% if (locals.error) { %>
             <p class="error" ><%= error %></p>
            <% } %>
            <form action="/user/login" method="post">
                
                <div class="user-email">
                    <label for="email">Email :</label>
                    <input type="email" name="email">
                </div>
                <div class="user-password">
                    <label for="password">Password :</label>
                    <input type="password" name="password">
                </div>
                <div class="btn">
                    <button class="signup-btn" type="submit">login</button>

                </div>
                <div class="info">
                    <p>Don't have an account sign up here </p>
                    <a  href="/user"> sign up </a>
                </div>
            </form>
        </div>
    </div>

</body>

</html>